.team__check{
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
}
.check__title{
  color: var(--lightGrey);
  font-size: 14px;
}
.check__coefficient{
  color: var(--darkPrimary);
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 900px){
  .check__title {
    color: var(--lightGrey);
    font-size: 12px;
  }
}
@media (max-width: 800px){
  .check__title {
    color: var(--lightGrey);
    font-size: 11px;
  }
}
@media (max-width: 600px){
  .team__check {
    width: 25vw;
  }
  .team__check {
    flex-direction: row;
  }
}
